*{
    margin: 0;
    padding: 0;
    /* border:1px solid blue; */
  
   
  
}
.special{
  margin-top: 100px;
}


 .hero{
    height: 100vh;
    width: 100%;
    background: linear-gradient(transparent 59.3%, #000), url(Images/KG14\ BANNER\ 2.png);
    background-position: center ;
    background-size:cover;
    
    
    
} 
.fixed-top {
  transition: all 0.3s ease;
}


.fixed-top.transparent {
  background: transparent !important;
  box-shadow: none !important;
}

.fixed-top.transparent i,
.fixed-top.transparent span {
  color: white !important;
}
.fixed-top.scrolled i,
.fixed-top.scrolled span {
  color: black !important;
}


.fixed-top.scrolled {
  background: rgb(73, 147, 120) !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Hide navbar when scrolling down */
.fixed-top.hide {
  transform: translateY(-100%);
}
.heading svg{
    height: 5vh;
}
.name {
    width: 97vw;  
    padding-left: 10vh;
   
}
.name img{
    height: 6vw;
}
@media screen and (max-width:600px){
    .name img{
    height: 10vw;
}

#disc{
    margin-top: 40vh ;
    
}
}
.name{
    font-size: 1.1rem;
    color: aliceblue;
    font-weight: 500;
    height: 70vh;
    overflow-x: hidden;
}
#discover{
    border: none;
    background-color: transparent;
    color: aliceblue;
    font-size: 1.1rem;
}
 i{
    color:white;
}
#discover:hover{
  border-bottom: 1px solid yellow;

}


.model{
    
    background-image: linear-gradient(transparent 59.3%, #000),url("Images/Gemera.png");
    background-position: center;
    background-size: cover;
    height: 150vh;
    width: 100%;
    transition: background-image 0.8s ease-in-out;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    
    
      
} 
/* ############################################################################### */
@media screen and (max-width:800px){
    .model{
        height: 100vh;
    }
}

.model::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(#000,transparent 59.3%);
    pointer-events: none;
    z-index: 1;
}
.model::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%; /* adjust height */
  background: linear-gradient(to top, #000,transparent 59.3%);
}
.car{
    position: relative;
    z-index: 2;
}


@media screen and (min-width:1000px){
    .btnn {
    font-size: 1.1rem;
    color: aliceblue;
    font-weight: 500;
    border: none;
    background-color: transparent;
    padding-bottom: 1rem;
    
    
}
}
@media screen and (max-width:1000px){
    .btnn {
    font-size: 2vw;
    color: aliceblue;
    font-weight: 500;
    border: none;
    background-color: transparent;
    padding-bottom: 1rem;
    
    
}
}
#car{
    margin: 0 auto;
    border-bottom: 1px solid rgb(132, 132, 132);
    width: 70%;
}

#section-1{
    width: 100%;
}

.active{
   border-bottom: 2px solid white;

    
}



#head1{
    font-size:4vw;
    text-wrap:nowrap; 
    text-transform: uppercase; 
    color: white;
}
#head2{
    font-size: 4vw;
    text-wrap:nowrap;
    line-height: .1;  
    padding-left: 5vw;
    text-transform:uppercase; 
    color: white;  
   
}
@media screen and (max-width:600px){
  #head1{
    font-size:1.8rem;
    text-wrap:nowrap; 
    text-transform: uppercase; 
    color: white;
}
#head2{
    font-size: 1.8rem;
    text-wrap:nowrap;
    line-height: .1;  
    padding-left: 5vw;
    text-transform:uppercase; 
    color: white;  
   
}
}
#container{
    margin: 4vw auto;
    width: 70%;
    position: relative;
    z-index: 2;
   
    position:relative;
}


    .btn-shape {
      fill: none;
      stroke: #fff;
      stroke-width: 3;
    }

    .custom-btn {
      position: relative;
      background: none;
      border: none;
      color: #fff;
      font-size:1.2vw;
      cursor: pointer;
      z-index: 1;
    }
    .ex-btn a{
        position:absolute;
        color: white;
        text-decoration: none;
        z-index: 2;
        bottom: 25%;
        left: 15%;
        display: flex;
        align-items: center;
        gap: 1vh;

    }


/* ============================================SECTION-2======================================= */
#section-2{
    background-color: #000000;
    color: white;
    padding: 10vh 0;

}
.section-heading {
      font-size: 5vw;
      font-weight: 700;
      line-height: 1;
}



.para{
    font-weight: 600;
}




.primary-outline {
  width: 100%;
  height: auto;
  display: block;
}

.main-btn{
    min-width: fit-content;
    height: 8vh;
    width: 15vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
  
   
   
}
.main-btn svg{
    min-width: 22vh;
    height: inherit;
    width: inherit;
    position:absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}
@media screen and (max-width:600px){
  .main-btn svg{
    min-width: 18vh;
    height: inherit;
    width: inherit;
    position:absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}
.main-btn{
    min-width: fit-content;
    height: 8vh;
    width: 15vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-left: 30px;
   
   
}
#first{
  margin-left:100px ;
  padding-left: 20px;
}
#second svg{
    min-width: 24vh;
    height: inherit;
    width: inherit;
    position:absolute;
    top: 0;
    left: 0;
    background-color: transparent;
   
}
#second{
  padding-left: 10px;
}
.third{
  padding-left: 20px;
}
.model{
  height: 100vh;
}
}
.primary-outline-path {
  fill:none;
  stroke: yellow;
  stroke-width: 2;
  opacity: 1;
  stroke-dasharray: 290;  
  stroke-dashoffset: 600; 
  animation: draw 2s ease forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0; 
  }
}
/* =================================================SECTION-3============================== */

.hero-img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    @media screen and (min-width:700px){
      .row {
      margin: 0 20vh;
    }
     .hero-img {
      width: 70%;
      height: auto;
      margin-left:70px;
      object-fit: cover;
    }
    }
    .content{
  font-size: 4rem;
  text-transform: uppercase;
  text-wrap: nowrap;
    }

    .hero-text h1 {
      font-size: 2.5rem;
      font-weight: bold;
      line-height: 1.2;
    }
    .hero-btn {
      border: 1px solid #000;
      padding: 0.5rem 1rem;
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      text-decoration: none;
      font-weight: 500;
    }
    @media (min-width: 992px) {
      .hero-text h1 {
        font-size: 3rem;
      }
    }
  
      .arrow svg{

       height: 15px;
       width: 15px;
       stroke: #000;
       
      }
  @media screen and (max-width:450px){
  .content{
  font-size: 2rem;
  text-transform: uppercase;
  text-wrap: nowrap;
  }

  /* =================================FOOTER================================================== */
}
footer a{
  text-decoration: none;
  color: black;
}